<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>Koszyk</title>
</head>
<body>
<h1>Dziękujemy za dodanie produktów</h1>
<br/>
<a href="/">Kontynuuj zakupy</a><br/>
<a href="/basket">Koszyk</a><br/>
<a href="/sum">Podsumowanie zakupów</a><br/>
</body>
</html>