<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <title>Piekarnia</title>
</head>
<body>
<h1>Witaj w  naszej piekarni</h1>
<br/>
<p>Dodaj do koszyka wybrane produkty</p>
<div th:each="productRep:${productRepository}">
    <h2 th:text="${productRep.getNazwa()}"></h2>
    <p th:text="'Cena ' + ${productRep.getCena()} + ' zł'"></p><br/>
    <img th:src="${productRep.getUrl()}"/>
    <br/>
    <br/>
    <form action="/addbasket" method="post">
        <input type="hidden" th:value="${productRep.getNazwa()}" name="name"/>
        Ilość <input type="number" step="1" min="1" value="1" name="quantity"/>
        <input type="submit" value="Dodaj">
    </form>
</div>

</body>
</html>